/* font styles */
.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
}
.montserrat1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}
.crimson_text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.open_sans {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.open_sans2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.roboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


/* values for all pages */
body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin: 0px;
    padding: 0px;
  }
  h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
li {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botton__link {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 22px;
    max-width: max-content;
    background: black;
    border: none;
    
}


/* styles for header */
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.nav__list {
    display: flex;
    margin-left: 60px;
} 
.nav__list_item {
    margin-right: 20px;
}
.nav__list_link {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
}
.contact__wrapper {
    margin-left: auto;
}
.nav__contact {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
    margin-left: 24px;
}


/* style for the catalog */
.catalog__img {
    width: 280px;
    height: 270px;
}
.catalog__item {
    position: absolute;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
}


/* bread crumb styles */
.bread_crumb {
    margin-top: 60px;
    margin-bottom: 50px;
}
.title_crubs {
    margin: 0;
}
.crub_ul {
    display: flex;
    margin-top: 15px;
}
.link_crub {
    color: #1E0606;
}
.crub_li:not(:last-child)::after {
    content: url(../static/icons/vector_crumb.svg);
    margin: 20px;
}
.link_crub1 {
    color: #1E0606;
    opacity: 0.5;
}


/* styles for contact us and pop-up */
.form_cnt {
    background: #E5EAF8;
    padding: 40px 42px;
    width: 680px;
}
.input_name {
    display: block;
    padding-left: 20px;
    width: 600px;
    height: 50px;
    margin-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
::-webkit-input-placeholder {
    color: #1E0606;
}
.field__wrap {
    display: flex;
    margin-top: 20px;
}
.input_phone, .input_email {
    display: block;
    width: 290px;
    height: 50px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.input_message {
    display: block;
    margin-top: 3px;
    margin-bottom: 20px;
    resize: none;
    width: 600px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.from__processing {
    margin-bottom: 17px;
}
.input_processing {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.input_processing+.processing_text::before {
    content: ''; 
    display: inline-block; 
    width: 19px;
    height: 19px; 
    flex-shrink: 0; 
    flex-grow: 0; 
    border: 2px solid #C29974; 
    border-radius: 3px; 
    margin-right: 15px; 
}
.input_processing:checked+.processing_text::before {
    background-image: url(../static/icons/frame_check2.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
}