body {
    font-family: 'Montserrat', 'Open Sans' 'Crimson Text' sans-serif;
    src: url();
}
li {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botton__link {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 22px;
    max-width: max-content;
    background: black;
    border: none;
}
.field__wrap {
display: flex;
margin-top: 20px;
}


/* styles for header */
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.nav__list {
    display: flex;
    margin-left: 60px;
} 
.nav__list_item {
    margin-right: 20px;
}
.nav__list_link {
    color: #1E0606;
}
.contact__wrapper {
    margin-left: auto;
    font-weight: 700;
}
.nav__contact {
    color: #1E0606;
    text-transform: uppercase;
    margin-left: 24px;
}


/* bread crumb styles */
.bread_crumb {
    margin-top: 60px;
    margin-bottom: 50px;
}
.title_crubs {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}
.crub_ul {
    display: flex;
    margin-top: 15px;
}
.link_crub {
    color: #1E0606;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.crub_li:not(:last-child)::after {
    content: url(../static/icons/vector_crumb.svg);
    margin: 20px;
}
.link_crub1 {
    color: #1E0606;
    opacity: 0.5;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
