body {
    font-family: 'Montserrat', 'Open Sans' 'Crimson Text' sans-serif;
    src: url();
}
li {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}

/* styles for header */
.container {
    font-family: 'Open Sans' sans-serif;
    src: url();
    max-width: 1180px;
    margin: 0 auto;
    margin-left: 110px;
}
.header {
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    align-items: center;
}
.nav {
    display: flex;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 40px;
}
.nav__list {
    display: flex;
} 
.nav__list_item {
    margin-right: 20px;
}
.nav__list_link {
    color: #1E0606;
}
.contact__wrapper {
    margin-left: auto;
    font-weight: 700;
}
.nav__contact {
    color: #1E0606;
    text-transform: uppercase;
    margin-left: 24px;
}


/* styles for the main content */
.banner{
    background: #EEE4DB;
}
.btn__1 {
    width: 32px;
    height: 4px;
    background: rgba(30, 6, 6, 0.6);
    border: none;
}
.btn {
    width: 32px;
    height: 4px;
    background: #D6CAC2;
    border: none;
}
.title {
    font-family: 'Montserrat' sans-serif;
    src: url(../static/fonts/Montserrat-Italic-VariableFont_wght.woff2);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    padding-left: 134px;
}
.title_text {
    font-family: 'Crimson Text';
    src: url(../static/fonts/CrimsonText-Regular.woff2);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-left: 134px;
}
.digits {
    font-family: 'Montserrat' sans-serif;
    font-weight: 200px;
    font-size: 60px;
    line-height: 74px;
    color: rgba(30, 6, 6, 0.06);
}
.title_img {
    
}
.botton__link {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 22px 10px 22px;
    background: black;
}




.rating {
    margin: 0;
    padding: 0;
    border: none;
}
.rating__caption {
    margin-bottom: 0.5em;
    padding: 0px;
}

/* group */
.rating__group {
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url(images/off.svg);
    background-size: 2em 1.9rem;
    background-repeat: repeat-x;
}

/* input */
.rating__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.rating__input:focus ~ .rating__focus {
    position: absolute;
    top: -0.2em;
    right: -0.2em;
    bottom: -0.2em;
    left: -0.2em;
    z-index: -1;
    outline: solid 0.2em #4a90e2;
}

/* star */
.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    background-size: 2em 1.9em;
    background-repeat: repeat-x;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rating__star:focus {
    outline: none;
}
.rating__input:checked + .rating__star
.rating__star:hover {
    background-image: url(images/on.svg);
}
.rating__star:hover ~ .rating__star {
    background-image: url(images/of.svg);
}

/* options */
.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 2em;
}
.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 4em;
}
.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 6em;
}
.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 8em;
}
.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 10em;
}
