/* styles for the main content */
.banner{
    display: flex;
    column-gap: 44px;
    background: #eee4db;
}
.digits {
    margin-left: 28px;
    font-size: 60px;
    line-height: 74px;
    color: rgba(30, 6, 6, 0.06);
}
.digits__ul {
    margin-left: 31px;
}
.btn__1 {
    width: 32px;
    height: 4px;
    background: rgba(30, 6, 6, 0.6);
    border: none;
}
.btn {
    width: 32px;
    height: 4px;
    background: #D6CAC2;
    border: none;
    
}
.slide__text {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 307px;
    margin: 89px 0 89px 0;
}
.title {
    font-family: 'Montserrat' sans-serif;
    src: url(../static/fonts/Montserrat-Italic-VariableFont_wght.woff2);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin: 0;
}
.title_text {
    font-family: 'Crimson Text';
    src: url(../static/fonts/CrimsonText-Regular.woff2);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.title_img {
   position: absolute;
   width: 636px;
    height: 461px;
    left: 555px;
    top: 142px;
}
.title__offer {
    font-family: 'Open Sans' sans-serif;
    src: url(../static/fonts/OpenSans-Italic-VariableFont_wdth\,wght.woff2);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #C29974;
}


.category_products {
    margin-top: 90px;
}
.products__title {
    margin-bottom: 30px;
}
.products__ul {
    display: flex;
}
.products__li {
   position: relative;
   margin-right: 20px;
}
.bts-text__wrap {
    display: flex;
    margin-top: 30px;
}
.direction__btn {
    margin-right: 6px;
    background-image: url(../static/icons/vector_to_the_left.svg);
    width: 18px;
    height: 30px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
}
.direction__btn1 {
    background-image: url(../static/icons/vector_to_the_right.svg);
    width: 18px;
    height: 30px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
}
.products__text {
    margin-left: 20px;
    max-width: 580px;
}



.delivery {
    margin-top: 90px;
    display: flex;
}
.delivery__wrapper {
    margin: 30px 120px;
    width: 540px;
}
.delivery__text {
    display: inline-block;
    background-color: #70BBDC33;
    padding: 11px 178px 10px 60px;
}
.delivery__text2 {
    margin-top: 22px;
}
.delivery__text3 {
    margin-top: 30px;
    width: 480px;
}
.delivery__text4 {
    margin-top: 15px;
    margin-bottom: 26px;
    width: 480px;
}
.shift {
    margin-left: 60px;
}



.company {
    margin-top: 90px;
}
.compani__title {
    display: none;
}
.company__list {
    display: flex;
    justify-content: space-between;
}
.company__item {
    opacity: 0.8;
    width: 216px;
    height: 46px;
}


.adress__map {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.about__wrapper {
    background: #E1F0F7;
    width: 543px;
    height: 228px;
    padding-right: 30px;
}
.about__title {
    margin-top: -15px;
}
.about__text1 {
    margin-top: 10px;
}
.about__text {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 483px;
}
.map {
    width: 483px;
    height: 200px;
    margin-top: 30px;
}






.rating {
    margin: 0;
    padding: 0;
    border: none;
}
.rating__caption {
    margin-bottom: 0.5em;
    padding: 0px;
}

/* group */
.rating__group {
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url(images/off.svg);
    background-size: 2em 1.9rem;
    background-repeat: repeat-x;
}

/* input */
.rating__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.rating__input:focus ~ .rating__focus {
    position: absolute;
    top: -0.2em;
    right: -0.2em;
    bottom: -0.2em;
    left: -0.2em;
    z-index: -1;
    outline: solid 0.2em #4a90e2;
}

/* star */
.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    background-size: 2em 1.9em;
    background-repeat: repeat-x;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rating__star:focus {
    outline: none;
}
.rating__input:checked + .rating__star
.rating__star:hover {
    background-image: url(images/on.svg);
}
.rating__star:hover ~ .rating__star {
    background-image: url(images/of.svg);
}

/* options */
.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 2em;
}
.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 4em;
}
.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 6em;
}
.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 8em;
}
.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 10em;
}
